header#titre >h1{
    text-align: center;
}

div.col1{
    background-color: rgb(143, 98, 31);
}

div.col2{
    background-color: rgb(255, 0, 119);
}

div.col3{
    background-color: rgb(43, 128, 123);
}

div.ligne1{
    border: 5px solid green;
}

div.ligne2{
    border: 5px solid orange;
}

div.ligne3{
    border: 5px solid red;
}